{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Rosawaves - Explore the World</title>
<!--
    - favicon
  -->
<link href="{% static 'User_home_template/favicon.svg' %}" rel="shortcut icon" type="image/svg+xml"/>
<!--
    - custom css link
  -->
<link href="{% static 'User_home_template/assets/css/style.css' %}" rel="stylesheet"/>
<!--
    - google font link
  -->
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Comforter+Brush&amp;family=Heebo:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
</head>
<body id="top">
<!--
    - #HEADER
  -->
<header class="header" data-header="">
<div class="container">
<a href="#">
<h1 class="logo">Rosawaves</h1>
</a>
<button aria-label="Toggle Menu" class="nav-toggle-btn" data-nav-toggle-btn="">
<ion-icon class="open" name="menu-outline"></ion-icon>
<ion-icon class="close" name="close-outline"></ion-icon>
</button>
<nav class="navbar">
<ul class="navbar-list">
<li>
<a class="navbar-link" href="#">Home</a>
</li>
<li>
<a class="navbar-link" href="booking/status/">Booking Status</a>
</li>
<li>
<a class="navbar-link" href="#">Offers</a>
</li>
<li>
<a class="navbar-link" href="#">Destinations</a>
</li>
<li>
<a class="navbar-link" href="/contact">Contact Us</a>
</li>
</ul>
<a class="btn btn-secondary" href="/booking_options">Booking Now</a>
</nav>
</div>
</header>
<main>
<article>
<!--
        - #HERO
      -->
<section class="section hero" style="background-image: url('{% static 'User_home_template/assets/images/hero-bg-bottom.png' %}') url('{% static 'User_home_template/assets/images/hero-bg-top.png' %}')">
<div class="container">
<img alt="Vector Shape" class="shape shape-1" height="61" src="{% static 'User_home_template/assets/images/shape-1.png' %}" width="61"/>
<img alt="Vector Shape" class="shape shape-2" height="74" src="{% static 'User_home_template/assets/images/shape-2.png' %}" width="56"/>
<img alt="Vector Shape" class="shape shape-3" height="72" src="{% static 'User_home_template/assets/images/shape-3.png' %}" width="57"/>
<div class="hero-content">
<p class="section-subtitle">Explore Your Travel</p>
<h2 class="hero-title">Trusted Bike Retal Agency</h2>
<p class="hero-text">
              I travel not to go anywhere, but to go. I travel for travel's sake the great affair is to move.
            </p>
<div class="btn-group">
<a class="btn btn-primary" href="/booking_options">Book Now</a>
</div>
</div>
<figure class="hero-banner">
<img alt="hero banner" class="w-100" height="812" loading="lazy" src="{% static 'User_home_template/assets/images/uklogo2.jpg' %}" width="686"/>
</figure>
</div>
</section>
<!--
        - #DESTINATION
      -->
<section class="section destination">
<div class="container">
<p class="section-subtitle">Destinations</p>
<h2 class="h2 section-title">Choose Your Destination</h2>
<ul class="destination-list">
<li class="w-50">
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Malé, Maldives" class="img-cover" height="1100" loading="lazy" src="{% static 'User_home_template/assets/images/sunset-varkala-beach-kerala-india_163782-1375.jpg' %}" width="1140"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Varkala</p>
<h3 class="h3 card-title">India</h3>
</div>
</a>
</li>
<li class="w-50">
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Bangkok, Thailand" class="img-cover" height="1100" loading="lazy" src="{% static 'User_home_template/assets/images/mangrove-kayaking.jpg' %}" width="1140"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Mangrove village </p>
<h3 class="h3 card-title">Varkala</h3>
</div>
</a>
</li>
<li>
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Kuala Lumpur, Malaysia" class="img-cover" height="480" loading="lazy" src="{% static 'User_home_template/assets/images/worlds-largest-bird-sculpture.jpg' %}" width="1110"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Jatayu Earth's Center</p>
<h3 class="h3 card-title">Kollam </h3>
</div>
</a>
</li>
<li>
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Kathmandu, Nepal" class="img-cover" height="480" loading="lazy" src="{% static 'User_home_template/assets/images/Kappil.png' %}" width="1110"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Kappil beach</p>
<h3 class="h3 card-title">Varkala</h3>
</div>
</a>
</li>
<li>
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Jakarta, Indonesia" class="img-cover" height="480" loading="lazy" src="{% static 'User_home_template/assets/images/Anjutheng.png' %}" width="1110"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Anjuthengu fort</p>
<h3 class="h3 card-title">Varkala</h3>
</div>
</a>
</li>
</ul>
</div>
</section>
<section class="section popular">
  <div class="container">
    <p class="section-subtitle">Featured offers</p>
    <h2 class="h2 section-title">Most Popular offers</h2>

    {% if offers %}
      <ul class="popular-list">
        {% for offer in offers %}
          <li>
            <div class="popular-card">
              <figure class="card-banner">
                <a href="#">
                  {% if offer.offer_image %}
                    <img src="{{ offer.offer_image.url }}" alt="Offer Image" class="img-cover" loading="lazy" width="740" height="518">
                  {% else %}
                    <img src="{% static 'User_home_template/assets/images/default-offer.jpg' %}" alt="Default Image" class="img-cover" loading="lazy" width="740" height="518">
                  {% endif %}
                </a>
              </figure>

              <div class="card-content">
                <h3 class="card-title">
                  <a href="#">{{ offer.description }}</a>
                </h3>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div style="text-align: center; padding: 40px 0;">
        <h2>No offers available right now.</h2>
      </div>
    {% endif %}
  </div>
</section>

<!--
        - #ABOUT
      -->
<section class="section about">
<div class="container">
<div class="about-content">
<p class="section-subtitle">About Us</p>
<h2 class="h2 section-title">Explore all tour of the world with us.</h2>
<!--<p class="about-text">-->
<!--              Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or-->
<!--              randomised words-->
<!--              which don't look even slightly believable.-->
<!--            </p>-->
<ul class="about-list">
<li class="about-item">
<div class="about-item-icon">
<ion-icon name="compass"></ion-icon>
</div>
<div class="about-item-content">
<h3 class="h3 about-item-title">Tour guide</h3>
<p class="about-item-text">
                    Lorem Ipsum available, but the majority have suffered alteration in some.
                  </p>
</div>
</li>
<li class="about-item">
<div class="about-item-icon">
<ion-icon name="briefcase"></ion-icon>
</div>
<div class="about-item-content">
<h3 class="h3 about-item-title">Friendly price</h3>
<p class="about-item-text">
                    Lorem Ipsum available, but the majority have suffered alteration in some.
                  </p>
</div>
</li>
<li class="about-item">
<div class="about-item-icon">
<ion-icon name="umbrella"></ion-icon>
</div>
<div class="about-item-content">
<h3 class="h3 about-item-title">Reliable tour</h3>
<p class="about-item-text">
                    Lorem Ipsum available, but the majority have suffered alteration in some.
                  </p>
</div>
</li>
</ul>
<a class="btn btn-primary" href="/booking_options">Booking Now</a>
</div>
<figure class="about-banner">
<img alt="" class="w-100" height="842" loading="lazy" src="{% static 'User_home_template/assets/images/about-banner.png' %}" width="756"/>
</figure>
</div>
</section>

</article>
</main>
<!--<footer class="footer" style="background-image: url('{% static 'User_home_template/assets/images/footer-bg.png' %}')">-->
<!--<div class="container">-->
<!--<div class="footer-top">-->
<!--<ul class="footer-list">-->
<!--<li>-->
<!--<ul class="footer-list">-->
<!--<li>-->
<!--</li>-->
<!--<li>-->
<!--</ul>-->
<!--<ul class="footer-list">-->
<!--<li>-->
<!--<p class="footer-list-title">Quick links</p>-->
<!--</li>-->
<!--<li>-->
<!--<a class="footer-link" href="#">About</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="footer-link" href="#">Contact</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="footer-link" href="#">Tours</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="footer-link" href="#">Booking</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="footer-link" href="#">Terms &amp; Conditions</a>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="footer-list">-->
<!--<p class="footer-list-title">Get a newsletter</p>-->
<!--<p class="newsletter-text">-->
<!--            For the latest deals and tips, travel no further than your inbox-->
<!--          </p>-->
<!--<form action="" class="newsletter-form">-->
<!--<input class="newsletter-input" name="email" placeholder="Email address" required="" type="email"/>-->
<!--<button class="btn btn-primary" type="submit">Subscribe</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<div class="footer-bottom">-->
<!--<ul class="social-list">-->
<!--<li>-->
<!--<a class="social-link" href="#">-->
<!--<ion-icon name="logo-facebook"></ion-icon>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="social-link" href="#">-->
<!--<ion-icon name="logo-twitter"></ion-icon>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="social-link" href="#">-->
<!--<ion-icon name="logo-instagram"></ion-icon>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="social-link" href="#">-->
<!--<ion-icon name="logo-linkedin"></ion-icon>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="social-link" href="#">-->
<!--<ion-icon name="logo-google"></ion-icon>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
<!--
    - #GO TO TOP
  -->
<a aria-label="Go To Top" class="go-top" data-go-top="" href="#top">
<ion-icon name="chevron-up-outline"></ion-icon>
</a>
<!--
    - custom js link
  -->
<script src="{% static 'User_home_template/assets/js/script.js' %}"></script>
<!--
    - ionicon link
  -->
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
