{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Rosawaves - Explore the World</title>
<!--
    - favicon
  -->
<link href="{% static 'User_home_template/favicon.svg' %}" rel="shortcut icon" type="image/svg+xml"/>
<!--
    - custom css link
  -->
<link href="{% static 'User_home_template/assets/css/style.css' %}" rel="stylesheet"/>
<!--
    - google font link
  -->
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Comforter+Brush&amp;family=Heebo:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
</head>
<body id="top">
<!--
    - #HEADER
  -->
<header class="header" data-header="">
<div class="container">
<a href="#">
<h1 class="logo">Rosawaves</h1>
</a>
<button aria-label="Toggle Menu" class="nav-toggle-btn" data-nav-toggle-btn="">
<ion-icon class="open" name="menu-outline"></ion-icon>
<ion-icon class="close" name="close-outline"></ion-icon>
</button>
<nav class="navbar">
<ul class="navbar-list">
<li>
<a class="navbar-link" href="#">Home</a>
</li>
<li>
<a class="navbar-link" href="#">About Us</a>
</li>
<li>
<a class="navbar-link" href="#">Tours</a>
</li>
<li>
<a class="navbar-link" href="#">Destinations</a>
</li>
<li>
<a class="navbar-link" href="#">Blog</a>
</li>
<li>
<a class="navbar-link" href="#">Contact Us</a>
</li>
</ul>
<a class="btn btn-secondary" href="/user-bike-rental">Booking Now</a>
</nav>
</div>
</header>
<main>
<article>
<!--
        - #HERO
      -->
<section class="section hero" style="background-image: url('{% static 'User_home_template/assets/images/hero-bg-bottom.png' %}') url('{% static 'User_home_template/assets/images/hero-bg-top.png' %}')">
<div class="container">
<img alt="Vector Shape" class="shape shape-1" height="61" src="{% static 'User_home_template/assets/images/shape-1.png' %}" width="61"/>
<img alt="Vector Shape" class="shape shape-2" height="74" src="{% static 'User_home_template/assets/images/shape-2.png' %}" width="56"/>
<img alt="Vector Shape" class="shape shape-3" height="72" src="{% static 'User_home_template/assets/images/shape-3.png' %}" width="57"/>
<div class="hero-content">
<p class="section-subtitle">Explore Your Travel</p>
<h2 class="hero-title">Trusted Travel Agency</h2>
<p class="hero-text">
              I travel not to go anywhere, but to go. I travel for travel's sake the great affair is to move.
            </p>
<div class="btn-group">
<a class="btn btn-primary" href="#">Contact Us</a>
<a class="btn btn-outline" href="#">Learn More</a>
</div>
</div>
<figure class="hero-banner">
<img alt="hero banner" class="w-100" height="812" loading="lazy" src="{% static 'User_home_template/assets/images/hero-banner.png' %}" width="686"/>
</figure>
</div>
</section>
<!--
        - #DESTINATION
      -->
<section class="section destination">
<div class="container">
<p class="section-subtitle">Destinations</p>
<h2 class="h2 section-title">Choose Your Place</h2>
<ul class="destination-list">
<li class="w-50">
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Malé, Maldives" class="img-cover" height="1100" loading="lazy" src="{% static 'User_home_template/assets/images/destination-1.jpg' %}" width="1140"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Malé</p>
<h3 class="h3 card-title">Maldives</h3>
</div>
</a>
</li>
<li class="w-50">
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Bangkok, Thailand" class="img-cover" height="1100" loading="lazy" src="{% static 'User_home_template/assets/images/destination-2.jpg' %}" width="1140"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Bangkok</p>
<h3 class="h3 card-title">Thailand</h3>
</div>
</a>
</li>
<li>
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Kuala Lumpur, Malaysia" class="img-cover" height="480" loading="lazy" src="{% static 'User_home_template/assets/images/destination-3.jpg' %}" width="1110"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Kuala Lumpur</p>
<h3 class="h3 card-title">Malaysia</h3>
</div>
</a>
</li>
<li>
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Kathmandu, Nepal" class="img-cover" height="480" loading="lazy" src="{% static 'User_home_template/assets/images/destination-4.jpg' %}" width="1110"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Kathmandu</p>
<h3 class="h3 card-title">Nepal</h3>
</div>
</a>
</li>
<li>
<a class="destination-card" href="#">
<figure class="card-banner">
<img alt="Jakarta, Indonesia" class="img-cover" height="480" loading="lazy" src="{% static 'User_home_template/assets/images/destination-5.jpg' %}" width="1110"/>
</figure>
<div class="card-content">
<p class="card-subtitle">Jakarta</p>
<h3 class="h3 card-title">Indonesia</h3>
</div>
</a>
</li>
</ul>
</div>
</section>
<!--
        - #POPULAR
      -->
<section class="section popular">
<div class="container">
<p class="section-subtitle">Featured Tours</p>
<h2 class="h2 section-title">Most Popular Tours</h2>
<ul class="popular-list">
<li>
<div class="popular-card">
<figure class="card-banner">
<a href="#">
<img alt="Kuala Lumpur, Malaysia" class="img-cover" height="518" loading="lazy" src="{% static 'User_home_template/assets/images/popular-1.jpg' %}" width="740"/>
</a>
<span class="card-badge">
<ion-icon name="time-outline"></ion-icon>
<time datetime="P12D">12 Days</time>
</span>
</figure>
<div class="card-content">
<div class="card-wrapper">
<div class="card-price">From $50.00</div>
<div class="card-rating">
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<data value="2">(2)</data>
</div>
</div>
<h3 class="card-title">
<a href="#">A good traveler has no fixed plans and is not intent on arriving.</a>
</h3>
<address class="card-location">Kuala Lumpur, Malaysia</address>
</div>
</div>
</li>
<li>
<div class="popular-card">
<figure class="card-banner">
<a href="#">
<img alt="Kuala Lumpur, Malaysia" class="img-cover" height="518" loading="lazy" src="{% static 'User_home_template/assets/images/popular-2.jpg' %}" width="740"/>
</a>
<span class="card-badge">
<ion-icon name="time-outline"></ion-icon>
<time datetime="P12D">12 Days</time>
</span>
</figure>
<div class="card-content">
<div class="card-wrapper">
<div class="card-price">From $50.00</div>
<div class="card-rating">
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<data value="2">(2)</data>
</div>
</div>
<h3 class="card-title">
<a href="#">A good traveler has no fixed plans and is not intent on arriving.</a>
</h3>
<address class="card-location">Kuala Lumpur, Malaysia</address>
</div>
</div>
</li>
<li>
<div class="popular-card">
<figure class="card-banner">
<a href="#">
<img alt="Kuala Lumpur, Malaysia" class="img-cover" height="518" loading="lazy" src="{% static 'User_home_template/assets/images/popular-3.jpg' %}" width="740"/>
</a>
<span class="card-badge">
<ion-icon name="time-outline"></ion-icon>
<time datetime="P12D">12 Days</time>
</span>
</figure>
<div class="card-content">
<div class="card-wrapper">
<div class="card-price">From $50.00</div>
<div class="card-rating">
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<data value="2">(2)</data>
</div>
</div>
<h3 class="card-title">
<a href="#">A good traveler has no fixed plans and is not intent on arriving.</a>
</h3>
<address class="card-location">Kuala Lumpur, Malaysia</address>
</div>
</div>
</li>
</ul>
</div>
</section>
<!--
        - #ABOUT
      -->
<section class="section about">
<div class="container">
<div class="about-content">
<p class="section-subtitle">About Us</p>
<h2 class="h2 section-title">Explore all tour of the world with us.</h2>
<p class="about-text">
              Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
              randomised words
              which don't look even slightly believable.
            </p>
<ul class="about-list">
<li class="about-item">
<div class="about-item-icon">
<ion-icon name="compass"></ion-icon>
</div>
<div class="about-item-content">
<h3 class="h3 about-item-title">Tour guide</h3>
<p class="about-item-text">
                    Lorem Ipsum available, but the majority have suffered alteration in some.
                  </p>
</div>
</li>
<li class="about-item">
<div class="about-item-icon">
<ion-icon name="briefcase"></ion-icon>
</div>
<div class="about-item-content">
<h3 class="h3 about-item-title">Friendly price</h3>
<p class="about-item-text">
                    Lorem Ipsum available, but the majority have suffered alteration in some.
                  </p>
</div>
</li>
<li class="about-item">
<div class="about-item-icon">
<ion-icon name="umbrella"></ion-icon>
</div>
<div class="about-item-content">
<h3 class="h3 about-item-title">Reliable tour</h3>
<p class="about-item-text">
                    Lorem Ipsum available, but the majority have suffered alteration in some.
                  </p>
</div>
</li>
</ul>
<a class="btn btn-primary" href="/user-bike-rental">Booking Now</a>
</div>
<figure class="about-banner">
<img alt="" class="w-100" height="842" loading="lazy" src="{% static 'User_home_template/assets/images/about-banner.png' %}" width="756"/>
</figure>
</div>
</section>
<!--
        - #BLOG
      -->
<section class="section blog">
<div class="container">
<p class="section-subtitle">From The Blog Post</p>
<h2 class="h2 section-title">Latest News &amp; Articles</h2>
<ul class="blog-list">
<li>
<div class="blog-card">
<figure class="card-banner">
<a href="#">
<img alt="A good traveler has no fixed plans and is not intent on arriving." class="img-cover" height="518" loading="lazy" src="{% static 'User_home_template/assets/images/popular-1.jpg' %}" width="740"/>
</a>
<span class="card-badge">
<ion-icon name="time-outline"></ion-icon>
<time datetime="12-04">04 Dec</time>
</span>
</figure>
<div class="card-content">
<div class="card-wrapper">
<div class="author-wrapper">
<figure class="author-avatar">
<img alt="Jony bristow" height="30" src="{% static 'User_home_template/assets/images/author-avatar.png' %}" width="30"/>
</figure>
<div>
<a class="author-name" href="#">Jony bristow</a>
<p class="author-title">Admin</p>
</div>
</div>
<time class="publish-time" datetime="10:30">10:30 AM</time>
</div>
<h3 class="card-title">
<a href="#">
                      A good traveler has no fixed plans and is not intent on arriving.
                    </a>
</h3>
<a class="btn-link" href="#">
<span>Read More</span>
<ion-icon aria-hidden="true" name="arrow-forward-outline"></ion-icon>
</a>
</div>
</div>
</li>
<li>
<div class="blog-card">
<figure class="card-banner">
<a href="#">
<img alt="A good traveler has no fixed plans and is not intent on arriving." class="img-cover" height="518" loading="lazy" src="{% static 'User_home_template/assets/images/blog-2.jpg' %}" width="740"/>
</a>
<span class="card-badge">
<ion-icon name="time-outline"></ion-icon>
<time datetime="12-04">04 Dec</time>
</span>
</figure>
<div class="card-content">
<div class="card-wrapper">
<div class="author-wrapper">
<figure class="author-avatar">
<img alt="Jony bristow" height="30" src="{% static 'User_home_template/assets/images/author-avatar.png' %}" width="30"/>
</figure>
<div>
<a class="author-name" href="#">Jony bristow</a>
<p class="author-title">Admin</p>
</div>
</div>
<time class="publish-time" datetime="10:30">10:30 AM</time>
</div>
<h3 class="card-title">
<a href="#">
                      A good traveler has no fixed plans and is not intent on arriving.
                    </a>
</h3>
<a class="btn-link" href="#">
<span>Read More</span>
<ion-icon aria-hidden="true" name="arrow-forward-outline"></ion-icon>
</a>
</div>
</div>
</li>
<li>
<div class="blog-card">
<figure class="card-banner">
<a href="#">
<img alt="A good traveler has no fixed plans and is not intent on arriving." class="img-cover" height="518" loading="lazy" src="{% static 'User_home_template/assets/images/blog-3.jpg' %}" width="740"/>
</a>
<span class="card-badge">
<ion-icon name="time-outline"></ion-icon>
<time datetime="12-04">04 Dec</time>
</span>
</figure>
<div class="card-content">
<div class="card-wrapper">
<div class="author-wrapper">
<figure class="author-avatar">
<img alt="Jony bristow" height="30" src="{% static 'User_home_template/assets/images/author-avatar.png' %}" width="30"/>
</figure>
<div>
<a class="author-name" href="#">Jony bristow</a>
<p class="author-title">Admin</p>
</div>
</div>
<time class="publish-time" datetime="10:30">10:30 AM</time>
</div>
<h3 class="card-title">
<a href="#">
                      A good traveler has no fixed plans and is not intent on arriving.
                    </a>
</h3>
<a class="btn-link" href="#">
<span>Read More</span>
<ion-icon aria-hidden="true" name="arrow-forward-outline"></ion-icon>
</a>
</div>
</div>
</li>
</ul>
</div>
</section>
</article>
</main>
<!--
    - #FOOTER
  -->
<footer class="footer" style="background-image: url('{% static 'User_home_template/assets/images/footer-bg.png' %}')">
<div class="container">
<div class="footer-top">
<ul class="footer-list">
<li>
<p class="footer-list-title">Top destination</p>
</li>
<li>
<a class="footer-link" href="#">Indonesia, Jakarta</a>
</li>
<li>
<a class="footer-link" href="#">Maldives, Malé</a>
</li>
<li>
<a class="footer-link" href="#">Australia, Canberra</a>
</li>
<li>
<a class="footer-link" href="#">Thailand, Bangkok</a>
</li>
<li>
<a class="footer-link" href="#">Morocco, Rabat</a>
</li>
</ul>
<ul class="footer-list">
<li>
<p class="footer-list-title">Categories</p>
</li>
<li>
<a class="footer-link" href="#">Travel</a>
</li>
<li>
<a class="footer-link" href="#">Lifestyle</a>
</li>
<li>
<a class="footer-link" href="#">Fashion</a>
</li>
<li>
<a class="footer-link" href="#">Education</a>
</li>
<li>
<a class="footer-link" href="#">Food &amp; Drink</a>
</li>
</ul>
<ul class="footer-list">
<li>
<p class="footer-list-title">Quick links</p>
</li>
<li>
<a class="footer-link" href="#">About</a>
</li>
<li>
<a class="footer-link" href="#">Contact</a>
</li>
<li>
<a class="footer-link" href="#">Tours</a>
</li>
<li>
<a class="footer-link" href="#">Booking</a>
</li>
<li>
<a class="footer-link" href="#">Terms &amp; Conditions</a>
</li>
</ul>
<div class="footer-list">
<p class="footer-list-title">Get a newsletter</p>
<p class="newsletter-text">
            For the latest deals and tips, travel no further than your inbox
          </p>
<form action="" class="newsletter-form">
<input class="newsletter-input" name="email" placeholder="Email address" required="" type="email"/>
<button class="btn btn-primary" type="submit">Subscribe</button>
</form>
</div>
</div>
<div class="footer-bottom">
<a class="logo" href="#">Tourest</a>
<p class="copyright">
          © 2022 <a class="copyright-link" href="#">codewithsadee</a>. All Rights Reserved
        </p>
<ul class="social-list">
<li>
<a class="social-link" href="#">
<ion-icon name="logo-facebook"></ion-icon>
</a>
</li>
<li>
<a class="social-link" href="#">
<ion-icon name="logo-twitter"></ion-icon>
</a>
</li>
<li>
<a class="social-link" href="#">
<ion-icon name="logo-instagram"></ion-icon>
</a>
</li>
<li>
<a class="social-link" href="#">
<ion-icon name="logo-linkedin"></ion-icon>
</a>
</li>
<li>
<a class="social-link" href="#">
<ion-icon name="logo-google"></ion-icon>
</a>
</li>
</ul>
</div>
</div>
</footer>
<!--
    - #GO TO TOP
  -->
<a aria-label="Go To Top" class="go-top" data-go-top="" href="#top">
<ion-icon name="chevron-up-outline"></ion-icon>
</a>
<!--
    - custom js link
  -->
<script src="{% static 'User_home_template/assets/js/script.js' %}"></script>
<!--
    - ionicon link
  -->
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
